/* Below trucs config de base genere automatiquement par Next.js 
modif au plus simple pour faire des tests */

@import "tailwindcss";

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Mode sombre automatique */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Styles basic for now */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}